.comment img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment .comment-detail{
    display: flex;
    align-items: center;
    flex: 3;
    gap: 20px;
}
.comment .comment-detail .info{
    display: flex;
    flex-direction: column;
}
.comment .comment-detail .info span{
    font-weight: 500;
}