/* .like-btn{
    font-size:large
}
.post{
    -webkit-box-shadow: 0 0 10px rgb(172, 168, 168);
    box-shadow: 0 0 10px rgb(149, 140, 140);
    border-radius: 10px;
}
.text-muted{
    font-size: small;
    font-weight: bold;
}
.caption{
font-size:large;
}
.postUserName{
    font-size: larger;
    font-weight: bold;
} */

.posts{

}
.post-container{
    -webkit-box-shadow: 0 0 10px rgb(172, 168, 168);
    box-shadow: 0 0 10px rgb(149, 140, 140);
    border-radius: 10px;
    padding: 20px;
    margin:0 0 15px 0px;
    background-color: white;

}
.post-container .post .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-container .post .user .userInfo{
    display: flex;
    gap: 20px;
}
.post-container .post .user .userInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.post-container .post .user .userInfo .details{
    display: flex;
    flex-direction: column;
}
.post-container .post .user .userInfo .details .postUserName{
    font-weight: 500;
}
.post-container .post .user .userInfo .details .date{
    font-size: 12px;
}
.post-container .post .post-content{
    margin: 20px 10px;
}
.post-container .post .post-content .post-caption{

}
.post-container .post .post-content .post-image{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px;
}
.post-container .post .post-reaction{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.post-container .post .post-reaction .item{
    text-align: center;
}
.comnt-form{
    display: flex;
    gap: 5px;
}
.comnt-form img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.comnt-form button{
    color: white;
    background-color: #5271ff;
    padding:0 5px;
    border: none;
    border-radius: 5px;
}
.delete-post{
    font-size: larger;
    font-weight: 500;
    
}
.delete-post:hover{
    cursor: pointer;
}